.wrapper {
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

.title{
  font-family: 'system-ui';
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 7px;
}

.body {
  margin-bottom: 7px;
}

.checkbox{
  align-items: start;
}

.checked_wrapper{
  background: rgb(120, 100, 73);
  border: 2px solid rgb(62, 35, 18);
  border-radius: 8px;
  color: white;
  flex-direction: column;
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 300px;
}
